.main-container {
  padding: 20px;
  flex-grow: 2;
  gap: 100px;
  height: 100vh;
  width: 80%;
  overflow-y: auto;
  background-color: rgb(244, 240, 240);
}

.main-container-disabled {
  padding: 20px;
  height: 100vh;
  width: 80%;
  background-color: rgb(244, 240, 240);
  opacity: 0.5;
  overflow-y: auto;
}
