.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,360px);
  gap: 32px;
  height: 360px;
  background-color: rgb(244, 240, 240);
  justify-content: center;

}

.plugin-container {
  padding: 20px;
}

.plugin-container header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 960px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill,240px);
    gap: 16px;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill,160px);
    gap: 16px;
    height: 240px;
  }
  
}


